body {
	background-color: #0e1a40;
	color: #0bff01;
	font-family: "comic sans MS", "comic sans", cursive;
}

iframe {
	border-radius .5rem;
	background-color: #0e1a40 !important;
	position: absolute;
	top: 8px;
	right: 16px;
}
form {
	width: 100%;
	text-align:center;
}
